.App {
  text-align: center;
  padding: 20px;
}

.textRed {
  color: red;
}

.textGreen {
  color: green;
}

.officeCard {
  margin: 10px auto;
  padding: 5px;
  /* border: 1px solid #ccc; */
  width: 60%;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 8px;
}
